@font-face {
    font-family: "lato";
    src: url(fonts/Lato-Regular.ttf);
    font-weight: 400;
}

nav{
    position: sticky;
    top: 0;
   z-index: 2000;
}
body{
    font-family: 'lato' , sans-serif;
}

#page-header{
background-color: darkslategray;
font-size: 24px;
font-weight: 900;
text-transform: uppercase;
display: block;
margin: 0px auto;
text-align: center;
padding: 20px 0px;
animation: title 0.8s ease-in;
}
#page-header p{
    font-size: 15px;
}
#page-header h1{
font-family: Verdana, Geneva, Tahoma, sans-serif;}
#page-body{
    margin-top: -20px;
background-color: darkgrey;
}


.navbar{
    background-color: rgb(26, 50, 50);
font-size: 20px;
font-weight: 600;
padding-left: 100px;
padding-top: 20px;
height: 50px;
margin-top: -35px;
}
.navbar li{
text-align: center;
display: inline-block;
padding: 0px 20px 0px 20px;
margin-left: 50px;


}
.navbar a {
    color: darkgrey;
    text-decoration: none;
}
.navbar a:hover {
color: purple ;
}
.navbar li:hover {
    font-weight:bold; 
}

.page-title {
    text-align: center;
    padding: 20px 0px;
    border-bottom: 1px black solid;
}
.page-title h1 {
    text-align: center;
    padding: 20px 0px;
    border-bottom: 1px black solid;
}

#page-info h2{
    font-size: 28px;
    font-weight: 900;
    text-transform: uppercase;
    display: block;
    margin: 0px auto;
    text-align: center;
    padding: 20px 0px;
   
}
#page-info h3{
    font-size: 18px;
    font-weight: 900;
    padding: 20px 0px;
    border: 1px black solid ;
  box-shadow: 10px 10px 10px 0px;
  border-radius: 1.5rem;
  margin-left: 200px;
  padding-left: 20px;
  margin-right: 200px;
  background-color:whitesmoke;
}
#page-info p{
font-size: 15px;
font-family: 'lato';
opacity: 0.7;
width: 1000px;
max-width: 70%;
margin: 0 auto;


}
#page-info h3:hover {
        background:  darkslategray;
        transition: all 0.8s ease-in;
}
.work {
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    margin-top: 100px;
}
.worktitle{
    position: absolute;
    top: auto;
    font-size: 15px;

}
#page-footer{
    padding: 10px;
    margin-top: 10px;
    color: white;
    background-color: rgb(18, 18, 18);
    text-align: center;

}
 p.punchline  {
    font-family: 'lato';
    font-size: 15px;
    text-align: center;
}
.list {
text-align: center;
background-color: darkgrey;
margin-bottom: -10px;
}
.list h2 {
    text-align: center;
  
    }
    .list p {
        text-align: center;
        font-weight: bold;
        font-family: 'lato';
        font-size: 15px;
        }
        .list ol {
            list-style-type: none;
        }
#page-info {
    font-size: 15px;
    padding: 20px 0px;
    font-family: 'lato';
}
.page-info-about p{
font-size: 18px;
width: 1000px;
max-width: 70%;
margin: 0 auto;
}
#contact  {
margin: 0;
padding: 0;
text-align: center;
font-family: sans-serif;
padding-bottom: 50px;
background-color: darkgrey;
}
#contact ol{
list-style-type: none;
}
 .inputcontact #name {
    margin-top: 40px;
width: 500px;
border: none;
outline: none;
background: transparent;
border-bottom: 2px black solid;
font-size: 18px;

}
.inputcontact #email {
    margin-top: 40px;
width: 500px;
border: none;
outline: none;
background: transparent;
border-bottom: 2px black solid;
font-size: 18px;
}
.inputcontact #subject {
    margin-top: 40px;
width: 500px;
background: transparent;
border: none;
outline: none;
border-bottom: 2px black solid;
font-size: 18px;
}
.inputcontact #message {
    margin-top: 40px;
width: 500px;
border: none;
outline: none;
border-bottom: 2px black solid;
font-size: 18px;

}
.inputcontact #name:hover{
    border-bottom: 2px solid rgb(71, 214, 210);
    transition: all 0.2s ease;
}
.inputcontact #email:hover{
    border-bottom: 2px solid rgb(71, 214, 210);
    transition: all 0.2s ease;
}
.inputcontact #subject:hover{
    border-bottom: 2px solid rgb(71, 214, 210);
    transition: all 0.2s ease;
}
.inputcontact #message:hover{
    border-bottom: 2px solid rgb(71, 214, 210);
    transition: all 0.2s ease;
}
.inputcontact input {
    margin-top: 50px;
}
.inputcontact input:hover {
    background-color: green;
}
.lasttitle{
    background-color: whitesmoke;
}

.lasttitle h2 {
 
    font-size: 30px;
    text-align: center;
    margin-top: 50px;
}
.lasttitle h3{

    font-size: 20px;
    border-bottom: 1px black solid;
    width: 1000px;
max-width: 70%;
margin: 0 auto;
}
.lasttitle p {
    font-size: 15px;
    margin-top: 10px;
font-family:'lato';
margin-bottom: 20px;
width: 1000px;
max-width: 70%;
margin: 0 auto;

}
.lasttitle h3:hover{
    text-transform: uppercase;
}
.lasttitle iframe {
margin-left: 250px;
}

@keyframes title{
0% {
    margin-bottom: -40%;

}
30% {
    letter-spacing: 25px;


}
85%{
    letter-spacing: 8px;
 
}
}

#design h2 {
 text-align: center;
 font-size: 30px;   
}
#design td {
    height: 250px;
    width: 250px;
text-align: center;
padding-left: 250px;
}
#design th {
    font-size: 20px;
    border-bottom: 1px black solid;
padding-left: 150px;
}

#design tr:nth-of-type(even){
    background-color: #7a7777; }

  
  #slideshow {
    overflow: hidden;
    height: 510px;
    width: 728px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
 border: solid 25px black;
 box-shadow: 10px 0px 10px 0px darkgrey;

  }
  #slideshow h1{
text-align: center;
font-size: 30px;
font-family: 'lato';
  }
  
  .slide-wrapper { 
animation: slide 18s ease infinite;

  }
  .slide-wrapper img { 
    height: 450px;
    width: 730px;
      }
  
  .slide {
    float: left;
    height: 510px;
    width: 728px;
  }
  
  
  @keyframes slide {
    20% {margin-left: 0px;}
    30% {margin-left: -728px;}
    50% {margin-left: -728px;}
    60% {margin-left: -1456px;}
    70% {margin-left: -1456px;}
    80% {margin-left: -2184px;}
    90% {margin-left: -2184px;}
    100% {margin-left: -728px}
  }
  .key {
      font-size: 15px;
    width: 1000px;
max-width: 70%;
margin: 0 auto;
margin-top: 50px;
  }

