
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: lightgray;
}
/* global*/
.container {
 width: 80%;
margin: auto;
overflow: hidden;
}
ul {
    margin: 0;
    padding: 0;
}
.button1 {
    height: 38px;
    background: orangered;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: whitesmoke;

}

/*header*/
header {
  margin-top: -30px;
    background: black;
    color: brown;
    padding-top: 40px;
    min-height: 70px;
    border-bottom: orangered 3px solid;
    

}
header:hover {
    border-bottom: gold 3px solid;
}

header a {
    color: white;
    text-decoration: none;
    font-size: 15px;

}


header li {
    display: inline-block;
    padding: 0 20px 0 20px;
    margin-top: 20px;
}
header #title {
    float: left;

}
header nav{
    float: right;
    margin-top: 10px;
}

header a:hover {
    color: #e8491d;
    font-weight:bold ;
   
}


/* showcase*/
#showcase {
    min-height: 400px;
    text-align: center;
    color: rgb(34, 31, 31);
  
}

#showcase h1 {
    margin-top: 30px;
    font-size: 45px;
    margin-bottom: 10px;
}
#showcase p {
    font-size: 20px;
margin-top: -20px;
}
/*searchtool*/
#search{
    padding: 15px;
    color: whitesmoke;
    background: rgb(72, 18, 18);
   

}
#search h1 {
    float: left;

}
#search form {
    
    float: right;
    margin-top: 15px;
    

}
#search input {
 
    border: 3px;
padding: 3px;
height: 30px;
width: 250px;
border-radius: 1.5rem;
    }
    #search input:hover {
        border: red solid 2px;
    }
    #search button {
        border-radius: 1.5rem;
    }

.features meter,progress {
    margin-left: 40%;
  width: 50%;
}
.features time {
    margin-left: 50px;
  color: red;
}

         /*footer*/ 
   footer {
    padding: 10px;
    margin-top: 10px;
    color: white;
    background-color: rgb(18, 18, 18);
    text-align: center;
       }
       #title h1:hover {
        animation: myanimation;
        animation-duration: 2s;
        animation-delay: 0.2s;
    animation-timing-function: ease-out;
       }

       @keyframes myanimation {
        from {transform: translateX(0%);}
        to {transform: translateX(-100%);}
       }
    
